/* font styles */

@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&family=Grey+Qo&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


/* universal styles */
body{
    background-color: black;
}
.margin{
    margin: auto 190px;
}
.text-1{
    color: white;
    font-size: 18px;
}
.text-2{
    color: rgba(255, 255, 255, .5);
    font-size: 16px;
}
.text-3{
    color: rgba(255, 255, 255, .5);
    font-size: 14px;
}
.title{
    font-size: 48px;
    color: white;
}
.text-primary{
    color: #E6533C;
    font-size: 18px;
}
.primary-button{
    background-color: #E6533C;
    border-radius: 39px;
    padding: 8px 20px;
    font-size: 18px;
    color: aliceblue;
}

.display-flex{
    display: flex;
}

/* navbar styles */
.brand{
    font-size: 36px;
}
.navbar{
   justify-content: space-between;
}
.nav-links{
    border: 1px solid rgba(172, 172, 172, 0.747) ;
    border-radius: 39px;
    align-items: center;
    font size: 18px;
    padding: 0;
   
}
.nav-link{
    text-decoration: none;
    color: rgba(255, 255, 255, 1);
    font-size: 18px;
}
.nav-item{
    list-style: none;
    margin-right: 47px;
    
}
/* fitness homepage style */
.fitness{
    background-color: black;
    background-image: linear-gradient(45deg, #111111,#777777);
    padding: 57px 190px;
    
}
.fitness-body{
    gap:28px;
}
.fitness-content{
    justify-content: space-between;
}
.fitness-title{
    font-size: 78px;
}
.fitness-btn-1,.fitness-btn-2{
    padding: 16px 40px ;
    border: none;
}
.fitness-btn-2{
    border: 1px solid aliceblue;
    border-radius: 39px;
    background-color: transparent;
    
}
.card-2,.card-1{
    border: 1px solid rgba(255, 255, 255, 0.308);
    border-radius: 12px;
    background-color: rgba(255, 255, 255, 0.1);
    width: 193px;
    height: auto;
}
.card-1,.card-2{
   positionx: ;
}
/* habit related styles */
.habit-content{
    background-color: black;
    margin-top: 105px;
}
.habit-discription{
    text-align: center;
    padding: 0 500px;
}
.habit-cards{
  justify-content: space-between;
  margin-top: 58px;
}
.habit-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 230px;
    padding: 0 25px;
}
.habit-cards > .habit-card > img {
    border: 3px solid gray;
    border-radius: 100px;
}
.habit-card-discription{
    text-align: center;
}