*{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;font styles
}

/* universal styles */
body{
    background-color: black;
}
.margin{
    margin: 90px 190px;
}
.text-1{
    color: white;
    font-size: 18px;
}
.text-2{
    color: rgba(255, 255, 255, .5);
    font-size: 16px;
}
.text-3{
    color: rgba(255, 255, 255, .5);
    font-size: 14px;
}
.title{
    font-size: 48px;
    color: white;
    margin-bottom: 30px;
}
.title-2{
    font-size: 34px;
    color: white;
    margin-bottom: 20px;
}
.text-primary{
    color: #E6533C;
    font-size: 18px;
}
.primary-button{
    background-color: #E6533C;
    border-radius: 39px;
    padding: 8px 20px;
    font-size: 18px;
    color: aliceblue;
    width: 224px;
    height: 54px;
    border: none;
}

.display-flex{
    display: flex;
}

/* navbar styles *//* fitness homepage style */
.brand{
    font-size: 36px;
}
.shape{
    font-size: 80px;
}
.navbar{
   justify-content: space-between;
}
.nav-links{
    border: 1px solid rgba(172, 172, 172, 0.747) ;
    border-radius: 39px;
    align-items: center;
    font size: 18px;
    padding: 2px;
   
}

.nav-link{
    text-decoration: none;
    color: rgba(255, 255, 255, 1);
    font-size: 18px;
}
.nav-item{
    list-style: none;
    margin-right: 47px;
    
}

.fitness{
    background-color: black;
    background-image: linear-gradient(45deg, #111111,#777777);
    padding: 57px 190px 0 190px;
    
}
.fitness-content{
    margin-top: 100px;
    justify-content: space-between;
}
.fitness-body{
    padding-right: 650px;
    /* width: 100%; */
      
}
.fitness-descrip{
    flex-direction: column;
    gap: 50px;
}
.fitness-pic{
    margin-right: 50px;
}
.fitness-body{
    /* gap:28px; */
}
.fitness-title{
    font-size: 78px;
}
.fitness-btn-1,.fitness-btn-2{
    padding: 16px 40px ;
    border: none;
}
.fitness-btn-2{
    border: 1px solid aliceblue;
    border-radius: 39px;
    background-color: transparent;
    
}
.fitness-pic{
    position: relative;
}
.card-2,.card-1{
    padding: 10px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 12px;
    background-color: rgba(255, 255, 255, 0.1);
    position: absolute;
    width: 206px;
    height: 96px;
}  
.card-1{
    left: 60%;
    bottom: 60%;

}
.card-2{
    left: -20%;
    bottom: 30%;

}


/* habit related styles */
.habit-content{
    background-color: black;
    margin-top: 105px;
}
.habit-discription{
    text-align: center;
    padding: 0 500px;
}
.habit-cards{
  justify-content: space-between;
  margin-top: 58px;
}
.habit-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 230px;
    padding: 0 25px;
}
.habit-cards > .habit-card > img {
    border: 3px solid gray;
    border-radius: 100px;
}
.habit-card-discription{
    text-align: center;
}

/* run related styles */
.run{
    background-color: rgba(34, 34, 34, 1);
    border-radius: 18px;
    justify-content: space-around;
    padding: 30px
}
.run-content{
    padding: 40px 350px 40px 50px;
    gap: 35px;
}
#run-img{
    border-radius: 18px;
    object-fit: cover;
    width: 50%;
    height: 70%;
    
    }
.run> .run-content > button{
margin-top: 30PX;
}

/* equipments related styles */
.equipments{
    background-color: #7777775b;
    border-radius: 18px;
    padding: 30px;
    margin-top: 100px;
}
.equip-heading{
    text-align: center;
}
.equip-descrip{
    justify-content: space-between;
    background: #111111;
    padding: 20px 50px;
    border-radius: 18px;
    margin-top: 20px;
    align-items: center;
}
.equip-descrip > .display-flex{
    flex-direction: column;
    gap: 20px;
}

.equipment-img{
    border-radius: 18px;
    width: 350px;
    height: 200px;
}
/* bmi calculator styles */
.bmi-content
{
    justify-content: space-between;
    background-color: #222222;
}
.bmi-calculator-container{
    flex-direction: column;
    gap: 20px;
}
.bmi-heading{
    text-align: center;
    margin: 88px;
}
table, th, td{
   border: 1px solid gray;
   padding: 15px;
   width: auto;
   
}
table{
    border-collapse: collapse;
    
    text-align: center;
}  
.bmi-calculator{
    display: grid;
    grid-template-columns: repeat(2,1fr); 
    column-gap: 10px;
    row-gap: 10px;
}
.factor{
    grid-column: 1/span 2; 
}
.input, .select{
    border: none;
    border-radius: 8px;
    background-color:#777777;
    padding: 10px;
    width: 320px;
    color: rgba(255, 255, 255, 0.6);
}
.select{
    width: auto;
}
::placeholder{
    color: rgba(255, 255, 255, 0.6);
}

/* trainer styles */
.team-heading{
    text-align: center;
    margin-top: 80px;
}
.trainers{
    display: grid;
    grid-template-columns: repeat(3,1fr);
  border-radius: 18px;
    background-color: #222222;
    padding: 20px;
    gap: 20px;

}
.trainer{
    position: relative;
}
.trainers > .trainer > img {
    width: 100%;
    border-radius: 18px;
    height: 400px;
}

.trainer-name{
   position: absolute;
   left: 20px;
   bottom: 20px;
 
}
.trainer-name > .text-1{
    font-weight: bold;
}

/* footer design */
.footer{
    background-color: #222222;
    padding: 66px 190px;
}
.footer-content{
    justify-content: space-between;
    margin-bottom: 50px;
}
.footer-list >li{
    font-size: 18px;
    color: rgba(255, 255, 255, 0.5);

}
.footer-brand{
   width: 443px; 
   display: flex;
   flex-direction: column;
   gap: 50px;
}
#footer-brand-name{
    color: #E6533C;
    font-size: 70px;
    font-weight: bold;
    font-style: italic;
}
#footer-end{
    margin-top: 30px;
    font-size: 20px;
    color:rgba(255, 255, 255, 0.5) ;
    text-align: center;
}
.footer-list{
    list-style: none;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}
br{
    margin-top: 50px;
    color: aqua;
}